asttokens
backcall
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-python
packaging
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
requests
six
stack-data
tornado
traitlets
typing_extensions
urllib3
wcwidth
zipp
zxing
